<div class="collapse collapse-arrow border border-gray-700 border-2 my-2 <%= signet.expanded ? 'collapse-open' : '' %>"
     data-controller="signet-collapse"
     data-signet-collapse-toggle-url-value="<%= toggle_expanded_pr_signet_path(signet) %>">
  <input type="checkbox" data-action="click->signet-collapse#toggle">
  <div href="#" class="collapse-title bg-cyan-950">
    <%= signet.title %>&nbsp;
    <span class="text-accent">
      <%= turbo_frame_tag dom_id(signet, :gh_pull_request_size), loading: :lazy,
                          src: gh_pull_request_size_pr_signet_path(signet) %>
    </span>
  </div>

  <div class="collapse-content">
    <%= turbo_frame_tag(dom_id(signet, :gh_pull_requests),
         loading: :lazy,
         src: gh_pull_requests_pr_signet_path(signet)
        ) do %>
        <div class="flex py-2 gap-x-3 mt-2">
          <div class="skeleton h-12 w-12 rounded-full"></div>
          <div>
            <div class="skeleton mt-1 mb-2 h-4 w-68"></div>
            <div class="skeleton h-4 w-40"></div>
          </div>
        </div>
    <% end %>
  </div>
</div>
