<div data-controller="pr-signet-form" class="p-4 max-w-220 mx-auto">
  <%= form_with(model: pr_signet) do |form| %>
    <div class="form-control w-full mb-4">
      <%= form.label :title, class: 'label' %>
      <%= form.text_field :title, class: 'input input-bordered w-full', required: true %>
    </div>

    <div class="form-control w-full mb-4">
      <%= form.label :query, class: 'label' do %>
        <span class="label-text">
          Query
          (<a target="_blank" href="https://docs.github.com/en/search-github/searching-on-github/searching-issues-and-pull-requests" class="link link-primary">doc</a>).
          <div class="tooltip" data-tip="Dynamic date examples: updated:>={1.month.ago}, merged:>={beginning_of_week}">
            <button class="btn btn-xs btn-circle btn-outline btn-info ml-1 mb-1">
              <i class="bi bi-info"></i>
            </button>
          </div>
        </span>
      <% end %>
      <div class="flex justify-between items-center">
        <%= form.text_field :query, class: 'input input-bordered flex-grow', required: true, data: { 'pr-signet-form-target' => 'query' } %>
        <button type="button" onclick="library_query_modal.showModal()" class="btn ml-2 cursor-pointer">
          <i class="bi bi-star text-warning text-lg"></i>
        </button>
      </div>
    </div>

    <div class="flex gap-4 max-w-2xl mb-4">
      <div class="form-control w-1/2">
        <%= form.label :sort, class: 'label' %>
        <%= form.select :sort, PrSignet.sorts.keys.map { |sort| [sort.capitalize, sort] }, {}, class: 'select select-bordered w-full' %>
      </div>
      <div class="form-control w-1/2">
        <%= form.label :order, class: 'label' %>
        <%= form.select :order, PrSignet.orders.keys.map { |order| [order.capitalize, order] }, {}, class: 'select select-bordered w-full' %>
      </div>
    </div>

    <div class="form-control w-full max-w-xs mb-4">
      <%= form.label :display_order, class: 'label' %>
      <%= form.number_field :display_order, class: 'input input-bordered w-full', required: true %>
    </div>

    <div class="flex gap-2 mt-6">
      <%= form.submit 'Confirm', class: 'btn btn-primary' %>
      <%= form.submit 'Preview', name: :preview, class: "btn btn-secondary" %>
    </div>
  <% end %>

  <% if @pr_signet.errors.any? %>
    <%= render partial: 'show_errors', locals: { record: @pr_signet } %>
  <% end %>

  <%= turbo_frame_tag :new_signet_preview %>

  <dialog class="modal" id="library_query_modal">
    <div class="modal-box">
      <h3 class="font-bold text-lg mb-4">Query Library</h3>
      <div class="space-y-3">
        <% PrQueryLibrary::LIBRARY.each do |name, query| %>
          <div>
            <p class="font-medium"><%= name %></p>
            <%= link_to 'javascript:void(0)',
                        class: "link link-hover text-base-content",
                        data: { action: 'pr-signet-form#useThisStartQuery' } do %>
              <div class="flex items-center">
                <i class="bi bi-check-square mr-2"></i> 
                <span class="text-sm"><%= query %></span>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="modal-action">
        <form method="dialog">
          <!-- if there is a button in form, it will close the modal -->
          <button class="btn">Close</button>
        </form>
      </div>
    </div>
  </dialog>
</div>
