<div class="container my-2 d-flex justify-content-between" id="<%= dom_id(pr_signet) %>">
  <div>
    <h4><%= pr_signet.title %></h4>
    <p><%= pr_signet.query %></p>
  </div>
  <div class="d-flex flex-row my-auto">
    <%= button_to edit_pr_signet_path(pr_signet), method: :get, class: 'btn py-0' do %>
      <i class="bi bi-pencil"></i>
    <% end %>

    <%= link_to pr_signet_path(pr_signet),
                  class: 'btn py-0',
                  data: { turbo_confirm: "Delete \"#{pr_signet.title}\"?", turbo_method: :delete } do %>
      <i class="bi bi-x-lg"></i>
    <% end %>
  </div>
</div>
