<%= turbo_frame_tag 'offcanvas-pull-request-details-frame' do %>
  <div id="offcanvas-pull-request-details" class="offcanvas offcanvas-end show" style="overflow: auto" tabindex="-1" aria-labelledby="offcanvasRightLabel" aria-modal="true" role="dialog">
    <%= turbo_frame_tag :pull_request_details_panel do %>
      <div class="offcanvas-header">
        <h6 class="offcanvas-title" id="offcanvasRightLabel"><%= @pull_request.title %></h6>
      </div>
      <div class="offcanvas-body">
        <p class="fs-7">
          <%= render partial: 'pull_requests/external_link', locals: { pull_request: @pull_request } %>
        </p>
        <p>
          <%= image_tag @pull_request.user.avatar_url, class: "mg-thumbnail rounded-circle p-1", height: 40 %>
          <%= link_to @pull_request.user.login, @pull_request.user.html_url, class: "link-underline link-underline-opacity-0" %>
        </p>
        <p>
          <%= render partial: 'pull_requests/label', collection: @pull_request.labels %>
        </p>
        <p>
          <%= @pull_request.base.ref %> <i class="bi bi-arrow-left-short"></i> <%= @pull_request.head.ref %>
        </p>
        <p>
          <i class="bi bi-circle"></i> <%= @pull_request.commits %>
          <span class="text-success-emphasis">
          <i class="bi bi-plus-circle"></i> <%= @pull_request.additions %>
        </span>
          <span class="text-danger-emphasis">
          <i class="bi bi-dash-circle"></i> <%= @pull_request.deletions %>
        </span>
          <i class="bi bi-files"></i> <%= @pull_request.changed_files %>
        </p>
        <p>
        <ul class="list-group">
          <% @statuses.each do |status| %>
            <%= render partial: 'pull_requests/commit_status', locals: { status: status } %>
          <% end %>
        </ul>
        </p>
      </div>
    <% end %>
  </div>
  <%= link_to dashboard_hide_offcanvas_details_path, data: { turbo_stream: '' } do %>
    <div id="offcanvas-backdrop-pull-request-details"
         class="offcanvas-backdrop fade show">
    </div>
  <% end %>
<% end %>
