<div class="card card-compact bg-base-100 shadow-sm hover:shadow-md transition-shadow duration-200 mb-2">
  <div class="card-body p-4">
    <div class="flex items-center">
      <div class="mr-5">
        <%= link_to pull_request.user.html_url, target: '_blank' do %>
          <div class="avatar">
            <div class="w-10 rounded-full ring ring-primary ring-offset-base-100 ring-offset-1">
              <%= image_tag pull_request.user.avatar_url %>
            </div>
          </div>
        <% end %>
      </div>
      
      <div class="flex-grow">
        <h3 class="card-title text-lg font-medium">
          <%= link_to pull_request.title,
                      pull_request_details_path(pull_request_ref(pull_request.pull_request)),
                      target: '_top',
                     class: 'hover:text-primary transition-colors duration-200' %>
        </h3>
        
        <div class="text-sm opacity-70 mt-1">
          <%= render partial: 'pull_requests/external_link', locals: { pull_request: pull_request } %>
          <%= turbo_frame_tag "#{pull_request_ref_string(pull_request.pull_request)}-statuses-summary",
              loading: :lazy,
              src: pull_request_statuses_summary_path(updated_at: pull_request.updated_at, **pull_request_ref(pull_request.pull_request)) do %>
          <% end %>
          <span class="ml-2 text-xs"><i class="bi bi-clock"></i> <%= time_ago_in_words pull_request.updated_at %> ago</span>
        </div>
      </div>
      
      <div class="flex flex-col items-end">
        <div class="flex flex-wrap justify-end gap-1 mb-1">
          <%= render partial: 'pull_requests/label', collection: pull_request.labels %>
        </div>
        <div class="badge badge-outline badge-sm">
          <i class="bi bi-chat-left mr-1"></i> <%= pull_request.comments %>
        </div>
      </div>
    </div>
  </div>
</div>
