<div class="navbar bg-base-200 px-3">
  <div class="navbar-start">
    <%= link_to 'GH Signet', dashboard_path, class: 'btn btn-ghost normal-case text-xl' %>
  </div>
  <div class="navbar-end">
    <%= link_to pr_signets_path, class: 'btn btn-ghost text-xl' do %>
      <i class="bi bi-bookmarks"></i>
    <% end %>
    <%= link_to new_pr_signet_path, class: 'btn btn-ghost text-xl' do %>
      <i class="bi bi-bookmark-plus"></i>
    <% end %>
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <%= image_tag auth_user.avatar_url, alt: "Avatar" %>
        </div>
      </div>
      <ul tabindex="0" class="menu dropdown-content bg-base-200 rounded-box z-1 mt-4 w-52 p-2 shadow-sm">
        <li>
          <%= link_to 'Logout', logout_path %>
        </li>
        <li>
          <%= link_to 'Delete account', user_path,
                class: 'text-error',
                data: { turbo_confirm: 'Deleting account. Are you sure?', turbo_method: :delete } %>
        </li>
      </ul>
    </div>
  </div>
</div>
