<!DOCTYPE html>
<html>
  <head>
    <title>GH Signet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>

    <% if Rails.env.production? %>
      <script async defer data-website-id="a82af86d-9eb1-48be-9314-60c80aeb09d7" src="https://umami.bhacaz.com/umami.js"></script>
    <% end %>
  </head>

  <body>
    <%= render 'navbar' if auth_user %>
    <div class="max-w-7xl mx-auto px-4">
      <%= yield %>
    </div>
  </body>
</html>
